<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
		<link th:href="@{/css/style01.css}" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	</head>
	<body>
		<header th:insert="fragments/Top-nav :: header"></header>
		<div class="container mt-3 w-75">
			<h3 class="title mb-4">Somme des remboursements par mois :</h3>
			<canvas id="myChart"></canvas>
			<script  th:inline="javascript">
			 /*<![CDATA[*/
				var ctx = document.getElementById('myChart').getContext('2d');
				var myChart = new Chart(ctx, {
				    type: 'bar',
				    data: {
				        labels:  /*[[ ${label} ]]*/,
				        datasets: [{
				            label: 'Accident par mois',
				            data: /*[[ ${data} ]]*/,
				            backgroundColor: 'rgba(255, 99, 132, 0.2)',
				            borderColor: 'rgba(255, 99, 132, 1)',
				            borderWidth: 1
				        }]
				    },
				    options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero: true
				                }
				            }]
				        }
				    }
				});
				/*]]>*/
			</script>
		</div>
	</body>
</html>